/bags/classify_handbags_5_position_2.h5
/bags/classify_handbags_5_position_3.h5
/bags/classify_handbags_position_2.h5
/bags/sac_images

/ceinture/classify_belts_position.h5
/ceinture/classify_belts_position_2.h5
/ceinture/detail
/ceinture/half
/ceinture/images


/collier/classify_necklace_position.h5
/collier/full
/collier/zoom

/shoes/back
/shoes/from_top
/shoes/semelles
/shoes/side
/shoes/three_quarter_back
/shoes/three_quarter_front_left
/shoes/three_quarter_front_right
/shoes/classify_shoes_position.h5

bags/classify_handbags_5_position_2.h5
bags/classify_handbags_5_position_3.h5
bags/classify_handbags_position_2.h5
bags/sac_images

ceinture/classify_belts_position.h5
ceinture/classify_belts_position_2.h5
ceinture/detail
ceinture/half
ceinture/images


collier/classify_necklace_position.h5
collier/full
collier/zoom

shoes/back
shoes/from_top
shoes/semelles
shoes/side
shoes/three_quarter_back
shoes/three_quarter_front_left
shoes/three_quarter_front_right
shoes/classify_shoes_position.h5
